{% extends "EmionRegisterBundle::layout.html.twig" %}

{% block emionregister_body %}
  {% if npc is not null %}
    <h3>{{ npc.name }}</h3> 
    <p>
      <a href="{{ path('emion_register_edit_npc', {'id' : npc.id}) }}" class="btn btn-success">
        <i class="glyphicon glyphicon-pencil"></i>
      </a>
      <a href="{{ path('emion_register_del_npc', {'id' : npc.id}) }}" class="btn btn-danger confirmation">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
      <a href="{{ path('emion_register_add_ref_npc', {'id' : npc.id}) }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        Add a reference
      </a>
    </p>
    
    <div>
      <div>
      {% if npc.race is not null %}
        {{npc.race.name}},
      {% else %}
        Unknown race,
      {% endif %}
       {{npc.activity}}, {{npc.location}}, {{npc.birth}} - {{npc.death}} 
      </div>
      
      <div>
        <h4>Description</h4>
        {% if npc.description is not null %} 
          {{ npc.description }} 
        {% else %}
          No description available
        {% endif %}
      </div>
      
    </div>
    
    {% if listReferences is not null %}
      <div>
        <h4>References</h4>
        <ul>
        {% for ref in listReferences %}
          <li id="ref-{{ref.id}}">{{ ref.book.name }} (page {{ ref.page }}) 
          <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i></a>
          <button class="del-reference btn btn-danger confirmation" id="del-{{ref.id}}"><i class="glyphicon glyphicon-remove"></i></button> <br/>
            {{ref.details}}
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    
  {% else %}
    <h3>Can't find this NPC</h3>
    <div>
      <p>No NPC here<p/>
      {{ include("::submitError.html.twig") }}
    </div>
  {% endif %}
  
{% endblock %}
