{% extends "EmionRegisterBundle::layout.html.twig" %}

{% block title %}
  {{parent()}} - Index
{% endblock %}

{% block emionregister_body %}
  
  {#<h2><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> WORK IN PROGRESS <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></h2>
  
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
      <span class="sr-only">80% Complete</span>
    </div>
  </div>#}
  
  {% if latestRefs != null %}
    <h2>Latest changes</h2>

    <ul>
    {% for ref in latestRefs %}
      <li>
        <a href="{{ path('emion_register_view_npc', {'id': ref.npc.id}) }}">{{ ref.npc.name }}</a>
        in <a href="{{ path('emion_register_view_book', {'id': ref.book.id}) }}">{{ ref.book.name }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  
{% endblock %}
